.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li span {
  font-size: 16px;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.second-container button {
  margin-left: 10px;
}

div > ul {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
}

div > ul > li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 20px;
  }
  .second-container{
    display: block;
  }
  li span {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 2px;
  }

  input[type="text"] {
    font-size: 14px;
    padding: 6px;
  }
}